<FilesMatch "\.(php|phtml|php[0-9])$">
  Require all denied
</FilesMatch>

RewriteEngine on
RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301,NE]

<ifModule mod_headers.c>
  Header set Cache-Control "max-age=3600, must-revalidate"
  Header always set Content-Security-Policy "upgrade-insecure-requests;"
  Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload"
  Header always set X-Frame-Options "deny"
  Header setifempty Referrer-Policy: same-origin
  Header set X-XSS-Protection "1; mode=block"
  Header set X-Permitted-Cross-Domain-Policies "none"
  Header set Referrer-Policy "no-referrer"
  Header set X-Content-Type-Options: nosniff
  Header set Permissions-Policy: accelerometer=()
  Header set Permissions-Policy: camera=*
  Header set Permissions-Policy: ambient-light-sensor=()
  Header set Permissions-Policy: autoplay=*
  Header set Permissions-Policy: camera=()
  Header set Permissions-Policy: cookie=*
  Header set Permissions-Policy: docwrite=*
  Header set Permissions-Policy: domain=*
  Header set Permissions-Policy: encrypted-media=*
  Header set Permissions-Policy: fullscreen=*
  Header set Permissions-Policy: geolocation=*
  Header set Permissions-Policy: gyroscope=()
  Header set Permissions-Policy: magnetometer=()
  Header set Permissions-Policy: microphone=()
  Header set Permissions-Policy: midi=()
  Header set Permissions-Policy: payment=()
  Header set Permissions-Policy: picture-in-picture=()
  Header set Permissions-Policy: speaker=*
  Header set Permissions-Policy: sync-script=*
  Header set Permissions-Policy: sync-xhr=*
  Header set Permissions-Policy: unsized-media=*
  Header set Permissions-Policy: vertical-scroll=*
  Header set Permissions-Policy: usb=()
  # Header set Permissions-Policy: vibrate=()
  # Header set Permissions-Policy: vr=()
</ifModule>

ErrorDocument 404 /404.html